# Python virtual environment
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Secret Google API tokens and credentials
credentials.json
token.json

# Environment variables / local settings
.env
.env.local

# Operating system files
.DS_Store
Thumbs.db
*.csv
ngrok.exe